<div id=geral>

    <div id="btnLogout">
        <% if user_signed_in? %>
          <li class="li">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li class="li">
          <%= link_to('Login', new_user_session_path)  %>  
          </li>
        <% end %>
    </div>

    <% x = 0%>



    <div id="conteudoGeral"> 
        <%= button_to 'New task', :controller => "tasks" , :action => "new" %>

        <% @task.each do |task| %>


            <% if task.id.present? %>

            <table>
                <% x += 1%>

                <div>

                    <p>


                        <%= task.activity %><br>

                        <%= link_to 'Edit', {:controller => "tasks", :action => 'edit',:id => task.id}, :method => :edit %> 
                        <%= link_to 'Destroy', {:controller => "tasks", :action => 'destroy',:id => task.id}, :method => :delete, data: { confirm: 'Are you sure?' } %> 
                        <%= link_to 'Notes', {:controller => "tasks", :action => 'show',:id => task.id} %> 

                    </p>

                </div>

            </table>
        
            <%end%>
        <%end%>

        <p>tasks number : <%= x%></p>

    </div>

    
</div>
