<div id="showhtml">

    <%= link_to 'back', {:controller => 'tasks', :action => 'index'} %>


    <h1 id="NomeActivity">Activity: <%= @task.activity %></h1>


    <div id="Notes">

        <h2>Add New Note</h2>
        <%= render 'notes/form'%>
        
    </div>

    <h2 id=titleNotes> Notes </h2>

    <div id="separacao"></div>

    <div id="anotacao">
        
        <table id="tableshow">
            <% notesnumber = 0%>
            <% @task.notes.each do |note| %>

            <p>
                <th>
                <% if note.id.present? %>
                <% notesnumber += 1 %>
                    <div id="conteudoTabelas">
                        <!--<td colspan="4">-->
                        <% note.id %>
                        <%= note.title %><br>
                        <%= note.body %><br>
                        <%= link_to 'Edit',{:controller => "notes", :action => 'edit', :task_id => @task.id, :id => note.id.to_s}%>

                        <%= link_to 'Destroy', {:controller => "notes", :action => 'destroy', :task_id => @task.id, :id => note.id.to_s}, :method => :delete,:confirm => "Are you sure you want to delete this note ?" %>
                        <%end%>
                    </div>
                </th>
            </p>

            <%end%>
        </table>

    </div>

    <p>note number: <%= notesnumber%></p>
    
</div>



